<div class= "Home">
  <div class="banner">
    <div class="banner-content">
      <h1>A faster and cheaper delivery</h1>
      <p>Search as a sender</p>
      <!--Home page form test 3 -->

        <%= form_tag routes_path, method: :get, class: 'form-inline' do %>

          <%= select_tag :query_type, "<option>Fits in a pocket<option>Fits in a bag<option>Fits in a car<option>Fits in a big car<option>Fits in a van<option>".html_safe, :required => true, class: 'form-control', placeholder: "Size of your Item" %>

          <%= text_field_tag :query_origin, params[:query_origin], :required => true, class: "form-control",
          placeholder: "Pick-up address"
          %>

          <%= text_field_tag :query_destination, params[:query_destination], :required => true, class: "form-control",
          placeholder: "Delivery address"
          %>

          <%= date_field_tag :query_delivery_date, "", :required => false, class: "form-control",
          placeholder: "Delivery date"
          %>


        <br>
        <br>

        <%= submit_tag "Find routes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
