<div class="container">
<br>

<font color="black"><h4>Search Results</h4></font>
<br>

  <% if @routes.any? %>
    <div class="row">
      <% @routes.each do |route|  %>
        <div class="col-xs-12 col-sm-12">
          <div class="card" style="font-color: black; border-radius: 20px; background-color: white; padding: 1em; box-shadow: 2px 2px 4px 1px grey; text-shadow: none; width: 700px">
            <p><span class="glyphicon glyphicon-piggy-bank"></span><strong> Price: </strong>R$ <%= route.price %></p>
            <br>
              <p><span class="glyphicon glyphicon-map-marker"> </span><strong>Origin: </strong><%= route.origin %> at <%= route.start_date_time.strftime("%d/%m/%y") %></p>
              <p><span class="glyphicon glyphicon-map-marker"> </span><strong>Destination: </strong><%= route.destination %> at <%= route.end_date_time.strftime("%d/%m/%y")%></p>
            <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
            <a class="card-link" href=<%= route_path(route) %> ></a>
          </div>
          <br>
        </div>
      <% end %>
    </div>
  <% else %>
    <br><font color=841818><h2>No trips found. Try again.</h2></font>
  <% end %>
</div>
<br>
<p><%= link_to 'Back to Homepage', "/" %></p>
