
<div class="container">

  <div class="row">
    <div class="card-route-details">
      <div class="card-route-summary">
        <h2>TRIP DETAILS</h2>
        <div class="row">
          <p class="col-md-2"><strong>Origin:</strong></p>
          <p class="col-md-10"><%= @route.origin %></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Destination:</strong></p>
          <p class="col-md-10"><%= @route.destination %></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Arriving date:</strong></p>
          <p class="col-md-10"><%= @route.end_date_time.strftime("%d/%m/%y") %></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Size of the item:</strong></p>
          <p class="col-md-10"><%=@route.capacity%></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Price:</strong></p>
          <p class="col-md-10">R$<%=@route.price%></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Comment:</strong></p>
          <p class="col-md-10"><%=@route.comment%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="card-bringer-details">
        <div class="card-bringer-infos">
          <h2>BRINGER DETAILS</h2>
          <div class="col-md-1">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          </div>
          <div class="col-md-3">
            <ul>
              <p><strong><%= @route.user.username %></strong></p>
            </ul>
          </div>
          <div class="col-md-6">
            <p><strong>Reviews</strong></p>
            <p>No comment</p>
          </div>
        </div>
      </div>
    </div>
    <%= button_to "Confirm Order", {:controller => "orders", :action => "create"}, params: { route_id: @route.id }, :class => "btn btn-primary" %>
  </div>

</div>
