
<div class="container">

  <div class="row">
    <div class="card-route-details">
      <div class="card-route-summary">
        <h2>ROUTE DETAILS</h2>
        <div class="row">
          <p class="col-md-2"><strong>Origin:</strong></p>
          <p class="col-md-10"><%= @route.origin %></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Destination:</strong></p>
          <p class="col-md-10"><%= @route.destination %></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Arriving date:</strong></p>
          <p class="col-md-10"><%= @route.end_date_time.strftime("%d/%m/%y") %></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Size of the item:</strong></p>
          <p class="col-md-10"><%=@route.capacity%></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Price:</strong></p>
          <p class="col-md-10">R$<%=@route.price%></p>
        </div>
        <div class="row">
          <p class="col-md-2"><strong>Comment:</strong></p>
          <p class="col-md-10">I'm going back home as usual, and will have space in my mid-size car (Fiat Sentra), for middle-sized packages. If you need the delivery in Rio de Janeiro downtown, I can drop off the package on the same day.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="card-bringer-details">
        <div class="card-bringer-infos">
          <h2>BRINGER DETAILS</h2>
          <div class="col-md-1">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
          </div>
          <div class="col-md-3">
            <ul>
              <p><strong>CARLOS SILVA</strong></p>
              <p>32 anos</p>
              <p>4.9/5.0</p>
            </ul>
          </div>
          <div class="col-md-6">
            <p><strong>Reviews</strong></p>
            <p>"Carlos was super willing to help, and the delivery went completely fine. I recommend him"</p>
            <p>"Everything ok with the delivery"</p>
            <p>"We had some miscommunication on both parts in the beginning, but in the end everything went fine and I got my package"</p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "Confirm Order", order_path, class: "btn btn-primary" %>
  </div>

</div>
