
<div class="container">
  <div class="row-show">
    <h4>Trip Details</h4>
      <p><span class="glyphicon glyphicon-map-marker"> </span> <strong>Origin:</strong> <%= @route.origin %></p>
      <p><span class="glyphicon glyphicon-map-marker"> </span> <strong>Destination:</strong> <%= @route.destination %></p>
      <p><span class="glyphicon glyphicon-calendar"> </span> <strong>Arriving date:</strong> <%= @route.end_date_time.strftime("%d/%m/%y") %></p>
      <p><span class="glyphicon glyphicon-folder-close"> </span>
      <strong>Size of the item:</strong> <%=@route.capacity%></p>
      <p><span class="glyphicon glyphicon-piggy-bank"> </span>  <strong>Price:</strong> R$<%=@route.price%></p>
      <p><span class="glyphicon glyphicon-comment"> </span> <strong>Comment:</strong> <%=@route.comment%></p>
      <%= button_to "Confirm Order", {:controller => "orders", :action => "create"}, params: { route_id: @route.id }, :class => "btn btn-success" %>
  </div>
  <div class="row-show">
    <h4>Bringer details</h4>
    <div class="row">
      <div class="col-md-1">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
      </div>
      <div class="col-md-11 bringer-details">
        <p><strong><%= @route.user.username %></strong></p>
        <p><strong>Reviews</strong> No comment</p>
      </div>
    </div>
  </div>
</div>
